
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: monospace;
}

#container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;


}

#container-graph {
    margin-top: 50px;
    /*transform: rotateX(180deg);*/
    border: solid black 1px;
    align-self: center;
}
h3{
    margin-left: 5px;
}
.toolbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btn{
    align-self: center;
}
input, .btn{
    margin: 10px;
}
